// @import './variables';

#kontakt {
    background-color: $black;

    .headingMain h1 {
        color: $white;
    }
}

.contact--info {
    padding-top: 40px;
}

.contact--column {
    width: calc(25% - 15px);

    @media screen and (max-width: 940px) {
        width: calc(50% - 15px);
        margin: 0 auto 40px;
    }

    @media screen and (max-width: 730px) {
        width: 100%;
        text-align: center;
    }

    &.contact--contact {
        width: calc(20% - 15px);

        @media screen and (max-width: 940px) {
            width: calc(50% - 15px);
        }

        @media screen and (max-width: 730px) {
            width: 100%;
        }
    }

    p {
        font-style: italic;
        color: $light-grey;
        line-height: 1.5;
    }

    a {
        color: $orange;
    }
}

.contact--heading {
    margin-bottom: 20px;
    color: $white;
}

.contact--socials {
    padding-top: 60px;
}

.contact--fb {
    width: 60px;
    height: 60px;
    margin: 0 20px;
    background: url("../images/fbico_off.png") no-repeat center center;
    background-size: contain;
    cursor: pointer;
    transition: 0.2s;
    color: transparent;

    &:hover {
        background-image: url("../images/fbico_on.png");
    }

    @media screen and (max-width: 1000px) {
        width: 50px;
        height: 50px;
    }    
}

.contact--insta {
    width: 60px;
    height: 60px;
    margin: 0 20px;
    background: url("../images/instaico_off.png") no-repeat center center;
    background-size: contain;
    cursor: pointer;
    transition: 0.2s;
    color: transparent;

    &:hover {
        background-image: url("../images/instaico_on.png");
    }

    @media screen and (max-width: 1000px) {
        width: 50px;
        height: 50px;
    }
}

.contact--map-wrapper {
    margin: 60px 0 0;
    height: 0;
    overflow: hidden;
    // padding-top: 41.78%;
    padding-top: 37.87878787878%;
    position: relative;
    border: 1px solid $dark-grey;
    border-radius: 5px;
}

.contact--map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../images/map_v2.jpg") no-repeat center center;
    background-size: contain;
}