.bold-italic {
    font-weight: 700;
    font-style: italic;
}

#detailing-interieru {

    .container {
        // max-width: 800px;
        position: relative;
        top: -20px;
        font-size: 18px;
    }

    .ul-heading {
        padding: 30px 0;
    }

    .ul { 
        padding-left: 10px;

        &> li {
            text-indent: -9px;
            line-height: 1.6;
        }
    }
    
    .ul > li:before {
        content: "- ";
        text-indent: -5px;
    }

    .ta-c {
        text-align: center;
        padding: 40px 0 40px;
    }
}