.feynlab-info {
    padding-bottom: 20px;
    border-bottom: 1px solid $border-grey;
    margin-bottom: 40px;

    &:last-child {
        margin-bottom: 0;
        border-bottom: 0;
    }

    &.flex {
        @media screen and (max-width: 660px) {
            flex-direction: column;
        }
    }
}


.feynlab-heading {
    text-align: left;
    padding-bottom: 20px;
}

.feynlab-text {
    width: 60%;

    @media screen and (max-width: 660px) {
        width: 100%;
    }

    p {
        padding-bottom: 15px;

        &:last-child {
            @media screen and (max-width: 660px) {
                padding-bottom: 30px;
            }
        }

    }
}

.feynlab-img {
    width: 40%;
    padding-left: 20px;
    max-height: 300px;
    text-align: right;

    @media screen and (max-width: 660px) {
        width: 100%;
        text-align: center;
        padding-left: 0;
        max-height: 100%;
    }

    img {
        max-width: 100%;
        max-height: 100%;
    }
}