@import './variables';


.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $black;
    padding-bottom: 22px;
    z-index: 1000;
    opacity: 0.9;

    @media screen and (max-width: 950px) {
        min-height: 80px;
    }

    .container {
        position: relative;
    }
}

.header--openHours {
    color: $light-grey;
    text-align: right;
    font-style: italic;
    padding: 6px 1.6% 0;

    @media screen and (max-width: 950px) {
        display: none;
    }
}

.header--nav-link {
    display: inline-block;
    padding: 9px 35px;
    font-weight: 800;
    font-style: italic;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid transparent;
    cursor: pointer;
    transform: skew(-20deg);
    transition: color 0.2s, border 0.2s ease-in;

    @media screen and (max-width: 1220px) {
        padding: 9px 30px;
    }

    @media screen and (max-width: 1020px) {
        font-size: 15px;
        padding: 8px 26px;
    }

    @media screen and (max-width: 950px) {
        margin-bottom: 10px;
    }

    &:hover {
        color: $orange;
        border: 1px solid $orange;

        @media screen and (max-width: 950px) {
            border-right: 1px dashed $orange;
            border-left: 1px dashed $orange;
        }
    }

    &.active {
        border: 1px solid $orange;

        .header--link {
            color: $orange;
        }
    }

    .header--link {
        display: inline-block;
        transform: skew(20deg);
        color: $white;
    }
}

.header--logoFull {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 1300px;
    margin: 0 auto;
    z-index: -1;
    top: -10px;

    @media screen and (max-width: 1250px) {
        top: 0;
    }
}

.header--logo {
    position: absolute;
    top: -20px;
    width: 110%;
    height: auto;
    
    @media screen and (max-width: 1250px) {
        display: none;
    }
}

.header--logo-small {
    position: absolute;
    top: 10px;
    display: none;

    @media screen and (max-width: 1250px) {
        display: block;
        height: 50px;
    }

    @media screen and (max-width: 1020px) {
        top: 15px;
        height: 40px;
    }

    @media screen and (max-width: 500px) {
        display: none;
    }
}

.header--logo-mobile {
    display: none;

    @media screen and (max-width: 500px) {
        display: block;
        width: 100%;
    }
}

.header--divider {
    height: 1px;
    width: 20%;
    margin: 0 5px;
}


.header--to-top {
    position: absolute;
    bottom: -1.2vw;
    left: 50%;
    transform: translateX(-50%);
    width: 11vw;
    height: 7.8vw;
    z-index: 50000;
    opacity: 0;
    cursor: pointer;

    @media screen and (max-width: 950px) {
        display: none;
    }
}

.header--ul-left {
    padding-left: 20px;

    @media screen and (max-width: 950px) {
        padding-left: 0;
    }
}

.nav-wrapper {
    display: none;
}

nav {
    position: relative;
    margin: 2.3% auto 0;
    max-width: 1450px;

    @media screen and (max-width: 1250px) {
        margin-top: 20px;
    }

    @media screen and (max-width: 950px) {
        flex-direction: column;
        align-items: center;
        margin-top: 85px;
        padding-bottom: 10px;
    }

    @media screen and (max-width: 500px) {
        margin-top: 20px;
    }

    .flex {
        align-items: flex-start;

        @media screen and (max-width: 950px) {
            flex-direction: column;
            align-items: center;
        }
    }
}

.sub-nav-services {
    display: none;
    // position: relative;
    // top: 50px;
    // left: -150px;
    // width: 0;
    // padding-bottom: 50px;
    width: 327px;
    position: absolute;
    flex-direction: column;
    top: 60px;
    justify-content: column;
    left: 295px;
    /* width: 0; */
    padding: 0 0 20px 20px;
    align-items: flex-start;
    background: black;
    opacity: 0.98;

    @media screen and (max-width: 1800px) {
        left: calc(180px + 6.2vw);
    }

    @media screen and (max-width: 1400px) {
        left: calc(100px + 13.4vw);
    }

    @media screen and (max-width: 1020px) {
        left: 225px;
    }

    // .header--nav-link {

    //     .header--link {
    //         color: $orange;
    //     }
    // }
}

.open-sub-nav {
    width: 152px; // lebo sipka

    .arrow-down {
        width: 8px;
        display: inline-block;
        height: 8px;
        border-left: 3px solid $white;
        border-bottom: 3px solid $white;
        transform: rotate(-45deg);
        margin: 0 0 3px 5px;
    }

    &.active {
        .arrow-down {
            border-left: 3px solid $orange;
            border-bottom: 3px solid $orange;
        }
    }
}

.img-flag {
    max-width: 100%;
}

.socials {
    margin-top: 5px;

    .fb {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        background: url("../images/fbico_off.png") no-repeat center center;
        background-size: contain;
        cursor: pointer;
        transition: 0.2s;
        color: transparent;

        &:hover {
            background-image: url("../images/fbico_on.png");
        }
    }

    .insta {
        width: 20px;
        height: 20px;
        background: url("../images/instaico_off.png") no-repeat center center;
        background-size: contain;
        cursor: pointer;
        transition: 0.2s;
        color: transparent;

        &:hover {
            background-image: url("../images/instaico_on.png");
        }
    }
}

.header--desktop {
    @media screen and (max-width: 950px) {
        display: none;
    }
}

.header--mobile {
    display: none;

    @media screen and (max-width: 950px) {
        display: block;
    }

    .sub-nav-services {
        position: relative;
        display: flex;
        flex-direction: column;
        top: 0;
        left: initial;
        width: 300px;
        padding-bottom: 30px;
        text-align: center;

        .header--nav-link {
            &.active {
                .header--link {
                    color: $orange;
                }
            }
        }

        .header--link {
            color: $white;
        }

        &.hidden {
            display: none;
        }
    }
}



.lang-dropdown {
    margin-left: 40px;
}

.mobile-lang {
    position: absolute;
    top: 17px;
    right: 0px;

    @media screen and (max-width: 500px) {
        top: -13vw;
        right: 0px;
    }
}

// burger

.mobileMenu {
    cursor: pointer;
    display: none;
    
    @media screen and (max-width: 950px) {
        display: inline-block;
        position: absolute;
        top: 17px;
        left: 10px;
        margin-top: 11px;
    }

    @media screen and (max-width: 500px) {
        top: -15vw;
        left: 5px;
    }
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 2px;
    background-color: $white;
    margin: 7px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(3px, 0px);
    transform: rotate(-45deg) translate(3px, 0px);
  }
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -10px);
    transform: rotate(45deg) translate(-6px, -10px);
  }
