$black: #000000;
// $light-black: #202223;
$dark-grey: #2d3133;
// $dark-grey-2: #2e3133;
// $dark-grey-3: #242728;
$super-light-grey: #e5e5e5;
$light-grey: #b6b6b6; 
$border-grey: #afafaf;
$grey: #dedede;
$white: #ffffff;

$orange: #c43c00; // rgb(196,60,0)
$grey-blue: #4b5961;

