@import './variables';
@import './header';
@import './heading';
@import './detailing';
@import './contact';
@import './feynlab';
@import './footer';


/* open-sans-regular - latin-ext_latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v17-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('../fonts/open-sans-v17-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v17-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v17-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v17-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v17-latin-ext_latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-italic - latin-ext_latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/open-sans-v17-latin-ext_latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Italic'), local('OpenSans-Italic'),
       url('../fonts/open-sans-v17-latin-ext_latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v17-latin-ext_latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v17-latin-ext_latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v17-latin-ext_latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v17-latin-ext_latin-italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-600 - latin-ext_latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/open-sans-v17-latin-ext_latin-600.eot'); /* IE9 Compat Modes */
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
       url('../fonts/open-sans-v17-latin-ext_latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v17-latin-ext_latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v17-latin-ext_latin-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v17-latin-ext_latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v17-latin-ext_latin-600.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-600italic - latin-ext_latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: url('../fonts/open-sans-v17-latin-ext_latin-600italic.eot'); /* IE9 Compat Modes */
  src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'),
       url('../fonts/open-sans-v17-latin-ext_latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v17-latin-ext_latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v17-latin-ext_latin-600italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v17-latin-ext_latin-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v17-latin-ext_latin-600italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-700 - latin-ext_latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/open-sans-v17-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url('../fonts/open-sans-v17-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v17-latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v17-latin-ext_latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v17-latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v17-latin-ext_latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-700italic - latin-ext_latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/open-sans-v17-latin-ext_latin-700italic.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'),
       url('../fonts/open-sans-v17-latin-ext_latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v17-latin-ext_latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v17-latin-ext_latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v17-latin-ext_latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v17-latin-ext_latin-700italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-800 - latin-ext_latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/open-sans-v17-latin-ext_latin-800.eot'); /* IE9 Compat Modes */
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
       url('../fonts/open-sans-v17-latin-ext_latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v17-latin-ext_latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v17-latin-ext_latin-800.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v17-latin-ext_latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v17-latin-ext_latin-800.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-800italic - latin-ext_latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: url('../fonts/open-sans-v17-latin-ext_latin-800italic.eot'); /* IE9 Compat Modes */
  src: local('Open Sans ExtraBold Italic'), local('OpenSans-ExtraBoldItalic'),
       url('../fonts/open-sans-v17-latin-ext_latin-800italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v17-latin-ext_latin-800italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v17-latin-ext_latin-800italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v17-latin-ext_latin-800italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v17-latin-ext_latin-800italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}

// //----------------------------------------------------------------------------

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $black;
}

ul {
  list-style: none;
}

a {
    text-decoration: none;
}

h1 {
  font-size: 29px;
  font-style: italic;
  text-align: center;
  text-transform: uppercase;

  @media screen and (max-width: 640px) {
      font-size: 24px; 
  }
}

h2 {
  font-size: 24px;
  font-weight: 800;
  font-style: italic;
  padding-bottom: 30px;
}

h3 {
  font-size: 16px;
  font-weight: 600;
  font-style: italic;
}


.h4-extrabold-italic {
  font-weight: 800;
  font-style: italic;
}

.p-semibold-italic {
  font-weight: 600;
  font-style: italic;
}

.italic {
  font-style: italic;
}

.center-wrapper {
  text-align: center;
}

.bold {
  font-weight: 700;
}


.container {
  width: 80%;
  max-width: 1690px;
  margin: 0 auto;

  @media screen and (max-width: 1400px) {
    width: 90%;
  }
}

.section-pb {
  padding-bottom: 90px;

  @media screen and (max-width: 550px) {
    padding-bottom: 40px;
  }
}

.orange-btn-wrapper {
  display: inline-block;
  // transform: skew(-20deg);
  background-color: $grey-blue;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    background-color: $orange;
  }

  .orange-btn {
    display: inline-block;
    padding: 10px 26px;
    font-size: 12px;
    font-weight: 800;
    font-style: italic;
    text-decoration: none;
    text-transform: uppercase;
    color: $white;
    // transform: skew(20deg);
  }
}

.orange {
  font-size: 18px;
  color: $orange;
  font-style: italic;
}

.orange-hover {
  text-decoration: none;
  color: $white;
  cursor: pointer;

  &:hover {
    color: $orange;
  }
}

// .hide {
//   display: none !important;
// }

.overflow-hidden {
  overflow: hidden;
}


// FLEX

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;

  // @media screen and (max-width: 784px) {
  //   padding-bottom: 50px;
  // }
}

.flex-between {
  justify-content: space-between;
}

.flex-around {
  justify-content: space-around;
}

.flex-center {
  justify-content: center;
}

.flex-align-center {
  align-items: center;
}

.flex-align-end {
  align-items: flex-end;
}

.flex-end {
  justify-content: flex-end;
}

.wrap {
  flex-wrap: wrap;
}

.ta-center {
  text-align: center;
}


// -------------------------------------------


.home {
    position: relative;
    height: 500px;
    
    .home_bg {
        position: absolute;
        top: 0;
        left: 0;
        background: $black url('../images/home-bg.png') no-repeat center center;
        background-size: cover;
        height: 100%;
        width: 100%;
    }
}

.grey-bg {
  background-color: $grey;
}


#uvod {
  font-weight: 600;
  font-style: italic;
  font-size: 19px;

  .container {
    width: 65%;

    @media screen and (max-width: 1200px) {
      width: 75%;
    }
  }

  .about-us {
    border-bottom: 1px solid $border-grey;

    p {
      padding-bottom: 50px;
    }
  }

  .about-feynlab {
    padding: 40px 0;

    .container {
      display: flex;

      @media screen and (max-width: 950px) {
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
    }

    .logo-feynlab {
      object-fit: contain;
      max-width: 380px;
      padding: 0 60px;

      @media screen and (max-width: 950px) {
        padding: 0 60px 40px;
      }
    }
  }
}


// gallery

#galeria {
  padding-bottom: 30px;
}


// interior-detainling

.info-main-wrapper {
  padding-bottom: 100px;
}

.info-main {
  // width: 80%;
  // max-width: 1050px;
  margin: 0 auto;
  padding: 20px 40px 22px;
  background-color: $black;
  border: 1px solid $orange;
  border-radius: 5px;
  // transform: skew(-15deg);

  @media screen and (max-width: 500px) {
    // transform: skew(0deg);
    width: 100%;
  }

  .info {
    // transform: skew(15deg);
    font-size: 18px;
    color: $white;
    letter-spacing: 1.2px;
    text-align: center;

    @media screen and (max-width: 500px) {
      // transform: skew(0deg);
    }
  }

  &.price-list-item-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin: 7px 0;
    margin: -1px 0;
    padding: 10px 22px 12px;
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    border: 1px solid $light-grey;
    border-radius: 5px;
    transition: 0.4s;

    &:hover {
      background-color: rgba(255,255,255,0.2);
      box-shadow: 0 0 15px rgba(0,0,0,0.2);
      transition: 0s;
    }

    @media screen and (max-width: 500px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .h4-extrabold-italic {
      color: $black;
      text-align: left;
      padding-right: 14px;

      @media screen and (max-width: 500px) {
        padding-right: 0;
        text-align: center;
      }
    }

    .p-semibold-italic {
      padding: 0 14px 0 7px;
      // transform: skew(15deg);

      @media screen and (max-width: 500px) {
        // transform: skew(0);
        text-align: center;
        padding: 0 7px 10px;
      }
    }

    .item-price {
      text-align: center;
    }
  }
}

#cennik {
  background-color: $super-light-grey;
  
  .th-wrapper {
    display: flex;
    margin-bottom: 14px;

    @media screen and (max-width: 500px) {
      flex-direction: column;
      border: 1px solid $orange;
      border-radius: 5px;
    }

    .info-main {
      width: 100%;
      max-width: 100%;
      text-transform: uppercase;
      padding: 20px 20px 22px;

      @media screen and (max-width: 500px) {
        border: 0;
        padding-bottom: 14px;
        border-radius: 0;
      }

      .info {
        text-align: left;
        padding-left: 20px;

        @media screen and (max-width: 500px) {
          text-align: center;
        }
      }

      &:last-child {
        width: 130px;
        margin-left: 20px;

        @media screen and (max-width: 500px) {
          width: 100%;
          margin-left: 0;
          padding-top: 0;
        }

        .info {
          text-align: center;
          padding-left: 0;

          @media screen and (max-width: 500px) {
            font-size: 16px;
          }
        }
      }
    }
  }

  .info-main-wrapper {
    &:last-child {
      .info-main {
        margin-top: 50px;
      }
    }
    
    .info-main {
      width: 100%;
      max-width: 100%;
    }
  }

}

// services

.skew-wrapper {
  position: relative;
  z-index: 10;
  // max-width: 1150px;
  margin: 0 auto;
  // transform: skew(-20deg);

  @media screen and (max-width: 630px) {
    // transform: skew(0);
  }
}

#sluzby {
  padding-bottom: 50px;

  .skew-wrapper {
    .service-wrapper {
      flex-direction: row-reverse;

      @media screen and (max-width: 500px) {
        flex-direction: column;
      }
    }

    // &:nth-child(even) {
    //   .service-wrapper {
    //     flex-direction: row-reverse;

    //     @media screen and (max-width: 500px) {
    //       flex-direction: column;
    //     }
    //   }
    // }

  }

  .service-img {
    height: 200px;

    @media screen and (max-width: 480px) {
      height: 240px;
    }
  }
}

#korekcia-laku {
  position: relative;
  padding-bottom: 50px;
  
  .p-semibold-italic {
    padding: 0 35px;

    @media screen and (max-width: 630px) {
      padding: 0 5px;
    }
  }

  .service-wrapper {
    max-height: 330px;

    @media screen and (max-width: 1150px) {
      max-height: 400px;    
    }
    
    @media screen and (max-width: 950px) {
      max-height: 1000px;    
    }

    @media screen and (max-width: 480px) {
      flex-direction: column-reverse;
    }
  }

  .service-text, 
  .img-wrapper {
    @media screen and (max-width: 480px) {
      width: 100%;
    }
  }

  // .skew-wrapper {
  //   max-width: 1200px;
  // }

  .bg1-correction {
    position: absolute;
    top: 23%;

    background: url(/assets/images/bg_correction1.svg) no-repeat left center;
    width: 100%;
    height: 200px;

    @media screen and (min-width: 1700px) {
      height: 300px;
    }
    
    @media screen and (min-width: 2000px) {
      height: 400px;
    }
  }

  .bg2-correction {
    position: absolute;
    top: 45%;

    background: url(/assets/images/bg_correction2.svg) no-repeat left center;
    width: 100%;
    height: 200px;

    @media screen and (min-width: 1700px) {
      height: 300px;
    }
    
    @media screen and (min-width: 2000px) {
      height: 400px;
    }
  }

  .bg3-correction {
    position: absolute;
    top: 70%;

    background: url(/assets/images/bg_correction3.svg) no-repeat left center;
    width: 100%;
    height: 200px;

    @media screen and (min-width: 1700px) {
      height: 300px;
    }
    
    @media screen and (min-width: 2000px) {
      height: 400px;
    }
  }
}

.service-wrapper {
  display: flex;
  flex-direction: row;
  // width: 90%;
  margin: 0 auto 20px;
  // box-shadow: 0 0 20px 10px rgba(0,0,0,0.2);
  filter: drop-shadow(0 0px 20px rgba(0,0,0,0.4));

  // @media screen and (max-width: 630px) {
  //   width: 100%;
  // }
  
  
  @media screen and (max-width: 500px) {
    flex-direction: column-reverse;
  }

  .img-wrapper {
      // width: 45%;
      width: 55%;
      overflow: hidden;
      border-radius: 0 5px 5px 0;
      
      @media screen and (max-width: 500px) {
        width: 100%;
        border-radius: 5px 5px 0 0;
      }
  }
  
  .service-img {
      position: relative;
      left: -50px;
      display: flex;
      width: 130%;
      height: 100%;
      // transform: skew(20deg);
      object-fit: cover;

      @media screen and (max-width: 630px) {
        // transform: skew(0);
      }
      
      @media screen and (max-width: 480px) {
        left: 0;
      }
  }
  
  .service-text {
      display: flex;
      align-items: center;
      // width: 55%;
      width: 45%;
      padding: 0 15px;
      background-color: $black;
      color: $white;
      text-align: center;
      border: 1px solid $orange;
      border-radius: 5px 0 0 5px;

      // @media screen and (max-width: 480px) {
      //   width: 65%;
      // }

      @media screen and (max-width: 500px) {
        width: 100%;
        border-radius: 0 0 5px 5px;
      }

      .text-wrapper {
          margin: auto;
          padding: 20px 0;
      }

      .h4-extrabold-italic {
          font-size: 20px;
          letter-spacing: 1.3px;
          // transform: skew(20deg);
          padding-bottom: 32px;

          @media screen and (max-width: 630px) {
            font-size: 18px;
            // transform: skew(0);
          }
      }
      
      .p-semibold-italic {
          // transform: skew(20deg);

          @media screen and (max-width: 630px) {
            // transform: skew(0);
          }
      }
  }
}

#self-heal {
  padding: 50px 0;

  .container {
    max-width: 1350px;
  }
}





.slick-arrow {
  background: transparent;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 17px;
  cursor: pointer;

  @media screen and (max-width: 768px) {
    padding: 9px;
  }
}

.slick-next {
  transform: rotate(-45deg) skew(-17deg, -17deg);
  -webkit-transform: rotate(-45deg) skew(-17deg, -17deg);

  @media screen and (max-width: 768px) {
    right: -16px;
  }

  @media screen and (max-width: 440px) {
    right: -12px;
  }
}

.slick-prev {
  transform: rotate(135deg) skew(-17deg, -17deg);
  -webkit-transform: rotate(135deg) skew(-17deg, -17deg);

  @media screen and (max-width: 768px) {
    left: -16px;
  }
 
  @media screen and (max-width: 450px) {
    left: -10px;
  }
}