.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-image: linear-gradient(#000000 80%, transparent);
  padding-bottom: 40px;
  z-index: 1000; }
  @media screen and (max-width: 910px) {
    .header {
      background-image: linear-gradient(#000000 85%, transparent);
      min-height: 80px; } }
  .header .container {
    position: relative; }

.header--openHours {
  color: #b6b6b6;
  text-align: right;
  font-style: italic;
  padding: 10px 1.6% 0; }
  @media screen and (max-width: 910px) {
    .header--openHours {
      display: none; } }

.header--nav-link {
  display: inline-block;
  padding: 9px 35px;
  font-weight: 800;
  font-style: italic;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid transparent;
  cursor: pointer;
  transform: skew(-20deg);
  transition: color 0.2s, border 0.2s ease-in; }
  @media screen and (max-width: 1220px) {
    .header--nav-link {
      padding: 9px 30px; } }
  @media screen and (max-width: 1020px) {
    .header--nav-link {
      font-size: 15px;
      padding: 8px 26px; } }
  @media screen and (max-width: 910px) {
    .header--nav-link {
      margin-bottom: 10px; } }
  .header--nav-link:hover {
    color: #c43c00;
    border: 1px solid #c43c00; }
    @media screen and (max-width: 910px) {
      .header--nav-link:hover {
        border-right: 1px dashed #c43c00;
        border-left: 1px dashed #c43c00; } }
  .header--nav-link.active {
    border: 1px solid #c43c00; }
    .header--nav-link.active .header--link {
      color: #c43c00; }
  .header--nav-link .header--link {
    display: inline-block;
    transform: skew(20deg);
    color: #ffffff; }

.header--logoFull {
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 1300px;
  margin: 0 auto;
  z-index: -1;
  top: -10px; }
  @media screen and (max-width: 1250px) {
    .header--logoFull {
      top: 0; } }

.header--logo {
  position: absolute;
  top: -20px;
  width: 120%;
  height: auto; }
  @media screen and (max-width: 1250px) {
    .header--logo {
      display: none; } }

.header--logo-small {
  position: absolute;
  top: 10px;
  display: none; }
  @media screen and (max-width: 1250px) {
    .header--logo-small {
      display: block;
      height: 50px; } }
  @media screen and (max-width: 1020px) {
    .header--logo-small {
      top: 15px;
      height: 40px; } }
  @media screen and (max-width: 500px) {
    .header--logo-small {
      display: none; } }

.header--logo-mobile {
  display: none; }
  @media screen and (max-width: 500px) {
    .header--logo-mobile {
      display: block;
      width: 100%; } }

.header--divider {
  height: 1px;
  width: 20%;
  margin: 0 5px; }

.header--to-top {
  position: absolute;
  bottom: -1.2vw;
  left: 50%;
  transform: translateX(-50%);
  width: 11vw;
  height: 7.8vw;
  z-index: 50000;
  opacity: 0;
  cursor: pointer; }
  @media screen and (max-width: 910px) {
    .header--to-top {
      display: none; } }

.header--ul-left {
  padding-left: 20px; }
  @media screen and (max-width: 910px) {
    .header--ul-left {
      padding-left: 0; } }

nav {
  position: relative;
  margin-top: 2.7%; }
  @media screen and (max-width: 1250px) {
    nav {
      margin-top: 20px; } }
  @media screen and (max-width: 910px) {
    nav {
      flex-direction: column;
      align-items: center;
      margin-top: 85px;
      padding-bottom: 40px; } }
  @media screen and (max-width: 500px) {
    nav {
      margin-top: 20px; } }
  @media screen and (max-width: 910px) {
    nav .flex {
      flex-direction: column;
      align-items: center; } }

.img-flag {
  max-width: 100%; }

.socials {
  margin-top: 5px; }
  .socials .fb {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background: url("../images/fbico_off.png") no-repeat center center;
    background-size: contain;
    cursor: pointer;
    transition: 0.2s;
    color: transparent; }
    .socials .fb:hover {
      background-image: url("../images/fbico_on.png"); }
  .socials .insta {
    width: 20px;
    height: 20px;
    background: url("../images/instaico_off.png") no-repeat center center;
    background-size: contain;
    cursor: pointer;
    transition: 0.2s;
    color: transparent; }
    .socials .insta:hover {
      background-image: url("../images/instaico_on.png"); }

@media screen and (max-width: 910px) {
  .header--desktop {
    display: none; } }

.header--mobile {
  display: none; }
  @media screen and (max-width: 910px) {
    .header--mobile {
      display: block; } }

.lang-dropdown {
  margin-left: 40px; }

.mobile-lang {
  position: absolute;
  top: 17px;
  right: 0px; }
  @media screen and (max-width: 500px) {
    .mobile-lang {
      top: -13vw;
      right: 0px; } }

.mobileMenu {
  cursor: pointer;
  display: none; }
  @media screen and (max-width: 910px) {
    .mobileMenu {
      display: inline-block;
      position: absolute;
      top: 17px;
      left: 10px;
      margin-top: 11px; } }
  @media screen and (max-width: 500px) {
    .mobileMenu {
      top: -15vw;
      left: 5px; } }

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 2px;
  background-color: #ffffff;
  margin: 7px 0;
  transition: 0.4s; }

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(3px, 0px);
  transform: rotate(-45deg) translate(3px, 0px); }

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -10px);
  transform: rotate(45deg) translate(-6px, -10px); }

.headingMain {
  position: relative;
  min-height: 120px; }
  .headingMain .center-wrapper {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: #000000; }
    @media screen and (max-width: 500px) {
      .headingMain .center-wrapper {
        width: 80%; } }

.headingMain-noLine .headingMain--line,
.headingMain-noLine .headingMain--glowWrapper {
  display: none; }
@media screen and (max-width: 330px) {
  .headingMain-noLine {
    padding-bottom: 30px; } }

.h1-scewed-bordered .headingMain--h1-wrapper {
  text-align: center;
  display: inline-block;
  padding: 16px 70px;
  margin-top: 10px;
  border-left: 2px solid #4b5961;
  border-right: 2px solid #4b5961;
  transform: skew(-20deg); }
  .h1-scewed-bordered .headingMain--h1-wrapper h1 {
    transform: skew(20deg); }

.h1-glow_reverse {
  display: flex;
  flex-direction: column-reverse; }
  .h1-glow_reverse .center-wrapper {
    top: initial;
    bottom: 40px; }
  .h1-glow_reverse .headingMain--glowWrapper {
    transform: rotate(180deg); }

.headingMain--line {
  width: 100%;
  margin: 0 auto;
  height: 1px;
  border-top: 1px solid #afafaf; }

.headingMain--glowWrapper {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-top: 10%; }

.headingMain--glow {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.heading-wrapper {
  position: absolute;
  top: calc(50% - 20px);
  left: 50%;
  transform: translateX(-50%);
  color: #ffffff; }

#gallery .headingMain {
  min-height: 200px; }

.bold-italic {
  font-weight: 700;
  font-style: italic; }

#interior-detailing .container {
  max-width: 800px;
  position: relative;
  top: -20px; }
#interior-detailing .ul-heading {
  padding: 30px 0; }
#interior-detailing .ul {
  padding-left: 10px; }
  #interior-detailing .ul > li {
    text-indent: -9px; }
#interior-detailing .ul > li:before {
  content: "- ";
  text-indent: -5px; }
#interior-detailing .ta-c {
  text-align: center;
  padding: 40px 0 40px; }

#contact {
  background-color: #000000; }
  #contact .headingMain h1 {
    color: #ffffff; }

.contact--info {
  padding-top: 40px; }

.contact--column {
  width: calc(25% - 15px); }
  @media screen and (max-width: 940px) {
    .contact--column {
      width: calc(50% - 15px);
      margin: 0 auto 40px; } }
  @media screen and (max-width: 730px) {
    .contact--column {
      width: 100%;
      text-align: center; } }
  .contact--column.contact--contact {
    width: calc(20% - 15px); }
    @media screen and (max-width: 940px) {
      .contact--column.contact--contact {
        width: calc(50% - 15px); } }
    @media screen and (max-width: 730px) {
      .contact--column.contact--contact {
        width: 100%; } }
  .contact--column p {
    font-style: italic;
    color: #b6b6b6;
    line-height: 1.5; }
  .contact--column a {
    color: #c43c00; }

.contact--heading {
  margin-bottom: 20px;
  color: #ffffff; }

.contact--socials {
  padding-top: 60px; }

.contact--fb {
  width: 60px;
  height: 60px;
  margin: 0 20px;
  background: url("../images/fbico_off.png") no-repeat center center;
  background-size: contain;
  cursor: pointer;
  transition: 0.2s;
  color: transparent; }
  .contact--fb:hover {
    background-image: url("../images/fbico_on.png"); }
  @media screen and (max-width: 1000px) {
    .contact--fb {
      width: 50px;
      height: 50px; } }

.contact--insta {
  width: 60px;
  height: 60px;
  margin: 0 20px;
  background: url("../images/instaico_off.png") no-repeat center center;
  background-size: contain;
  cursor: pointer;
  transition: 0.2s;
  color: transparent; }
  .contact--insta:hover {
    background-image: url("../images/instaico_on.png"); }
  @media screen and (max-width: 1000px) {
    .contact--insta {
      width: 50px;
      height: 50px; } }

.contact--map-wrapper {
  margin: 60px 0 0;
  height: 0;
  overflow: hidden;
  padding-top: 37.87878787878%;
  position: relative;
  border: 1px solid #2d3133; }

.contact--map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/map_v2.jpg") no-repeat center center;
  background-size: contain; }

footer {
  background-color: #000000;
  padding: 10px 0 30px; }

.footer--logoFull {
  position: relative;
  height: 0;
  padding-top: 14.89%;
  overflow: hidden; }

.footer--logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.footer--copyright {
  font-size: 12px;
  font-weight: 600;
  padding: 0 0 30px;
  color: #b6b6b6;
  text-decoration: none; }

/* open-sans-regular - latin-ext_latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v17-latin-ext_latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("../fonts/open-sans-v17-latin-ext_latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v17-latin-ext_latin-regular.woff2") format("woff2"), url("../fonts/open-sans-v17-latin-ext_latin-regular.woff") format("woff"), url("../fonts/open-sans-v17-latin-ext_latin-regular.ttf") format("truetype"), url("../fonts/open-sans-v17-latin-ext_latin-regular.svg#OpenSans") format("svg");
  /* Legacy iOS */ }
/* open-sans-italic - latin-ext_latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/open-sans-v17-latin-ext_latin-italic.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url("../fonts/open-sans-v17-latin-ext_latin-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v17-latin-ext_latin-italic.woff2") format("woff2"), url("../fonts/open-sans-v17-latin-ext_latin-italic.woff") format("woff"), url("../fonts/open-sans-v17-latin-ext_latin-italic.ttf") format("truetype"), url("../fonts/open-sans-v17-latin-ext_latin-italic.svg#OpenSans") format("svg");
  /* Legacy iOS */ }
/* open-sans-600 - latin-ext_latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/open-sans-v17-latin-ext_latin-600.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url("../fonts/open-sans-v17-latin-ext_latin-600.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v17-latin-ext_latin-600.woff2") format("woff2"), url("../fonts/open-sans-v17-latin-ext_latin-600.woff") format("woff"), url("../fonts/open-sans-v17-latin-ext_latin-600.ttf") format("truetype"), url("../fonts/open-sans-v17-latin-ext_latin-600.svg#OpenSans") format("svg");
  /* Legacy iOS */ }
/* open-sans-600italic - latin-ext_latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/open-sans-v17-latin-ext_latin-600italic.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans SemiBold Italic"), local("OpenSans-SemiBoldItalic"), url("../fonts/open-sans-v17-latin-ext_latin-600italic.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v17-latin-ext_latin-600italic.woff2") format("woff2"), url("../fonts/open-sans-v17-latin-ext_latin-600italic.woff") format("woff"), url("../fonts/open-sans-v17-latin-ext_latin-600italic.ttf") format("truetype"), url("../fonts/open-sans-v17-latin-ext_latin-600italic.svg#OpenSans") format("svg");
  /* Legacy iOS */ }
/* open-sans-700 - latin-ext_latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/open-sans-v17-latin-ext_latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("../fonts/open-sans-v17-latin-ext_latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v17-latin-ext_latin-700.woff2") format("woff2"), url("../fonts/open-sans-v17-latin-ext_latin-700.woff") format("woff"), url("../fonts/open-sans-v17-latin-ext_latin-700.ttf") format("truetype"), url("../fonts/open-sans-v17-latin-ext_latin-700.svg#OpenSans") format("svg");
  /* Legacy iOS */ }
/* open-sans-700italic - latin-ext_latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/open-sans-v17-latin-ext_latin-700italic.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url("../fonts/open-sans-v17-latin-ext_latin-700italic.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v17-latin-ext_latin-700italic.woff2") format("woff2"), url("../fonts/open-sans-v17-latin-ext_latin-700italic.woff") format("woff"), url("../fonts/open-sans-v17-latin-ext_latin-700italic.ttf") format("truetype"), url("../fonts/open-sans-v17-latin-ext_latin-700italic.svg#OpenSans") format("svg");
  /* Legacy iOS */ }
/* open-sans-800 - latin-ext_latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/open-sans-v17-latin-ext_latin-800.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans ExtraBold"), local("OpenSans-ExtraBold"), url("../fonts/open-sans-v17-latin-ext_latin-800.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v17-latin-ext_latin-800.woff2") format("woff2"), url("../fonts/open-sans-v17-latin-ext_latin-800.woff") format("woff"), url("../fonts/open-sans-v17-latin-ext_latin-800.ttf") format("truetype"), url("../fonts/open-sans-v17-latin-ext_latin-800.svg#OpenSans") format("svg");
  /* Legacy iOS */ }
/* open-sans-800italic - latin-ext_latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: url("../fonts/open-sans-v17-latin-ext_latin-800italic.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans ExtraBold Italic"), local("OpenSans-ExtraBoldItalic"), url("../fonts/open-sans-v17-latin-ext_latin-800italic.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v17-latin-ext_latin-800italic.woff2") format("woff2"), url("../fonts/open-sans-v17-latin-ext_latin-800italic.woff") format("woff"), url("../fonts/open-sans-v17-latin-ext_latin-800italic.ttf") format("truetype"), url("../fonts/open-sans-v17-latin-ext_latin-800italic.svg#OpenSans") format("svg");
  /* Legacy iOS */ }
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000000; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

h1 {
  font-size: 29px;
  font-style: italic;
  text-align: center;
  text-transform: uppercase; }
  @media screen and (max-width: 640px) {
    h1 {
      font-size: 24px; } }

h2 {
  font-size: 24px;
  font-weight: 800;
  font-style: italic;
  padding-bottom: 30px; }

h3 {
  font-size: 16px;
  font-weight: 600;
  font-style: italic; }

.h4-extrabold-italic {
  font-weight: 800;
  font-style: italic; }

.p-semibold-italic {
  font-weight: 600;
  font-style: italic; }

.center-wrapper {
  text-align: center; }

.container {
  width: 80%;
  max-width: 1690px;
  margin: 0 auto; }
  @media screen and (max-width: 1400px) {
    .container {
      width: 90%; } }

.section-pb {
  padding-bottom: 90px; }
  @media screen and (max-width: 550px) {
    .section-pb {
      padding-bottom: 40px; } }

.orange-btn-wrapper {
  display: inline-block;
  transform: skew(-20deg);
  background-color: #4b5961;
  cursor: pointer;
  transition: 0.2s; }
  .orange-btn-wrapper:hover {
    background-color: #c43c00; }
  .orange-btn-wrapper .orange-btn {
    display: inline-block;
    padding: 10px 26px;
    font-size: 12px;
    font-weight: 800;
    font-style: italic;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    transform: skew(20deg); }

.orange {
  font-size: 18px;
  color: #c43c00;
  font-style: italic; }

.orange-hover {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer; }
  .orange-hover:hover {
    color: #c43c00; }

.hide {
  display: none !important; }

.overflow-hidden {
  overflow: hidden; }

.flex {
  display: flex; }

.flex-col {
  display: flex;
  flex-direction: column; }

.flex-between {
  justify-content: space-between; }

.flex-around {
  justify-content: space-around; }

.flex-center {
  justify-content: center; }

.flex-align-center {
  align-items: center; }

.flex-align-end {
  align-items: flex-end; }

.flex-end {
  justify-content: flex-end; }

.wrap {
  flex-wrap: wrap; }

.ta-center {
  text-align: center; }

.home {
  position: relative;
  height: 500px; }
  .home .home_bg {
    position: absolute;
    top: 0;
    left: 0;
    background: #000000 url("../images/home-bg.png") no-repeat center center;
    background-size: cover;
    height: 100%;
    width: 100%; }

.grey-bg {
  background-color: #dedede; }

#about {
  font-weight: 600;
  font-style: italic;
  font-size: 19px; }
  #about .container {
    width: 65%; }
    @media screen and (max-width: 1200px) {
      #about .container {
        width: 75%; } }
  #about .about-us {
    border-bottom: 1px solid #afafaf; }
    #about .about-us p {
      padding-bottom: 50px; }
  #about .about-feynlab {
    padding: 40px 0; }
    #about .about-feynlab .container {
      display: flex; }
      @media screen and (max-width: 950px) {
        #about .about-feynlab .container {
          flex-direction: column;
          align-items: center;
          text-align: center; } }
    #about .about-feynlab .logo-feynlab {
      object-fit: contain;
      max-width: 380px;
      padding: 0 60px; }
      @media screen and (max-width: 950px) {
        #about .about-feynlab .logo-feynlab {
          padding: 0 60px 40px; } }

#gallery {
  padding-bottom: 30px; }

.info-main-wrapper {
  padding-bottom: 100px; }

.info-main {
  width: 80%;
  max-width: 1050px;
  margin: 0 auto;
  padding: 20px 40px 22px;
  background-color: #000000;
  border: 1px solid #c43c00;
  transform: skew(-15deg); }
  @media screen and (max-width: 500px) {
    .info-main {
      transform: skew(0deg); } }
  .info-main .info {
    transform: skew(15deg);
    font-size: 18px;
    color: #ffffff;
    letter-spacing: 1.2px;
    text-align: center; }
    @media screen and (max-width: 500px) {
      .info-main .info {
        transform: skew(0deg); } }
  .info-main.price-list-item-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: transparent;
    border: 1px solid #b6b6b6; }
    .info-main.price-list-item-wrapper .h4-extrabold-italic {
      color: #000000;
      text-align-last: left; }

#price-list {
  background-color: #e5e5e5; }
  #price-list .th-wrapper {
    display: flex; }
    #price-list .th-wrapper .info-main {
      width: 100%;
      text-transform: uppercase;
      padding: 20px 20px 22px; }
      #price-list .th-wrapper .info-main .info {
        text-align: left;
        padding-left: 20px; }
      #price-list .th-wrapper .info-main:last-child {
        width: 130px;
        margin-left: 20px; }
        #price-list .th-wrapper .info-main:last-child .info {
          text-align: center;
          padding-left: 0; }

.skew-wrapper {
  max-width: 1300px;
  transform: skew(-20deg); }
  @media screen and (max-width: 630px) {
    .skew-wrapper {
      transform: skew(0); } }

#services {
  padding-bottom: 50px; }
  #services .skew-wrapper:nth-child(even) .service-wrapper {
    flex-direction: row-reverse; }
  #services .service-img {
    height: 200px; }
    @media screen and (max-width: 480px) {
      #services .service-img {
        height: 240px; } }

#lacquer-correction {
  padding-bottom: 50px; }
  #lacquer-correction .p-semibold-italic {
    padding: 0 35px; }
    @media screen and (max-width: 630px) {
      #lacquer-correction .p-semibold-italic {
        padding: 0 5px; } }
  @media screen and (max-width: 480px) {
    #lacquer-correction .service-wrapper {
      flex-direction: column-reverse; } }
  @media screen and (max-width: 480px) {
    #lacquer-correction .service-text,
    #lacquer-correction .img-wrapper {
      width: 100%; } }

.service-wrapper {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 0 auto 20px;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.2); }
  @media screen and (max-width: 630px) {
    .service-wrapper {
      width: 100%; } }
  .service-wrapper .img-wrapper {
    width: 45%;
    overflow: hidden; }
  .service-wrapper .service-img {
    position: relative;
    left: -50px;
    display: flex;
    width: 130%;
    transform: skew(20deg);
    object-fit: cover; }
    @media screen and (max-width: 630px) {
      .service-wrapper .service-img {
        transform: skew(0); } }
    @media screen and (max-width: 480px) {
      .service-wrapper .service-img {
        left: 0; } }
  .service-wrapper .service-text {
    display: flex;
    align-items: center;
    width: 55%;
    padding: 0 15px;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    border: 1px solid #c43c00; }
    @media screen and (max-width: 480px) {
      .service-wrapper .service-text {
        width: 65%; } }
    .service-wrapper .service-text .text-wrapper {
      margin: auto;
      padding: 20px 0; }
    .service-wrapper .service-text .h4-extrabold-italic {
      font-size: 20px;
      letter-spacing: 1.3px;
      transform: skew(20deg);
      padding-bottom: 32px; }
      @media screen and (max-width: 630px) {
        .service-wrapper .service-text .h4-extrabold-italic {
          font-size: 18px;
          transform: skew(0); } }
    .service-wrapper .service-text .p-semibold-italic {
      transform: skew(20deg); }
      @media screen and (max-width: 630px) {
        .service-wrapper .service-text .p-semibold-italic {
          transform: skew(0); } }

/*# sourceMappingURL=style.css.map */
