.headingMain {
  position: relative;
}
.headingMain .center-wrapper {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: #000000;
}
@media screen and (max-width: 500px) {
  .headingMain .center-wrapper {
    width: 80%;
  }
}

.headingMain-noLine .headingMain--line,
.headingMain-noLine .headingMain--glowWrapper {
  display: none;
}
@media screen and (max-width: 330px) {
  .headingMain-noLine {
    padding-bottom: 30px;
  }
}

.h1-scewed-bordered {
  margin-bottom: 70px;
}
.h1-scewed-bordered .headingMain--h1-wrapper {
  text-align: center;
  display: inline-block;
  padding: 16px 70px;
  margin-top: 10px;
  border-left: 2px solid #4b5961;
  border-right: 2px solid #4b5961;
  transform: skew(-20deg);
}
.h1-scewed-bordered .headingMain--h1-wrapper h1 {
  transform: skew(20deg);
}

.h1-glow_reverse {
  display: flex;
  flex-direction: column-reverse;
}
.h1-glow_reverse .center-wrapper {
  top: initial;
  bottom: 40px;
}
.h1-glow_reverse .headingMain--glowWrapper {
  transform: rotate(180deg);
}

.headingMain--line {
  width: 100%;
  margin: 0 auto;
  height: 1px;
  border-top: 1px solid #4b5961;
}

.headingMain--glowWrapper {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-top: 10%;
}

.headingMain--glow {
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.heading-wrapper {
  position: absolute;
  top: calc(50% - 20px);
  left: 50%;
  transform: translateX(-50%);
}

/*# sourceMappingURL=headings.css.map */
