.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #000000;
  padding-bottom: 22px;
  z-index: 1000;
  opacity: 0.9;
}
@media screen and (max-width: 950px) {
  .header {
    min-height: 80px;
  }
}
.header .container {
  position: relative;
}

.header--openHours {
  color: #b6b6b6;
  text-align: right;
  font-style: italic;
  padding: 6px 1.6% 0;
}
@media screen and (max-width: 950px) {
  .header--openHours {
    display: none;
  }
}

.header--nav-link {
  display: inline-block;
  padding: 9px 35px;
  font-weight: 800;
  font-style: italic;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid transparent;
  cursor: pointer;
  transform: skew(-20deg);
  transition: color 0.2s, border 0.2s ease-in;
}
@media screen and (max-width: 1220px) {
  .header--nav-link {
    padding: 9px 30px;
  }
}
@media screen and (max-width: 1020px) {
  .header--nav-link {
    font-size: 15px;
    padding: 8px 26px;
  }
}
@media screen and (max-width: 950px) {
  .header--nav-link {
    margin-bottom: 10px;
  }
}
.header--nav-link:hover {
  color: #c43c00;
  border: 1px solid #c43c00;
}
@media screen and (max-width: 950px) {
  .header--nav-link:hover {
    border-right: 1px dashed #c43c00;
    border-left: 1px dashed #c43c00;
  }
}
.header--nav-link.active {
  border: 1px solid #c43c00;
}
.header--nav-link.active .header--link {
  color: #c43c00;
}
.header--nav-link .header--link {
  display: inline-block;
  transform: skew(20deg);
  color: #ffffff;
}

.header--logoFull {
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 1300px;
  margin: 0 auto;
  z-index: -1;
  top: -10px;
}
@media screen and (max-width: 1250px) {
  .header--logoFull {
    top: 0;
  }
}

.header--logo {
  position: absolute;
  top: -20px;
  width: 110%;
  height: auto;
}
@media screen and (max-width: 1250px) {
  .header--logo {
    display: none;
  }
}

.header--logo-small {
  position: absolute;
  top: 10px;
  display: none;
}
@media screen and (max-width: 1250px) {
  .header--logo-small {
    display: block;
    height: 50px;
  }
}
@media screen and (max-width: 1020px) {
  .header--logo-small {
    top: 15px;
    height: 40px;
  }
}
@media screen and (max-width: 500px) {
  .header--logo-small {
    display: none;
  }
}

.header--logo-mobile {
  display: none;
}
@media screen and (max-width: 500px) {
  .header--logo-mobile {
    display: block;
    width: 100%;
  }
}

.header--divider {
  height: 1px;
  width: 20%;
  margin: 0 5px;
}

.header--to-top {
  position: absolute;
  bottom: -1.2vw;
  left: 50%;
  transform: translateX(-50%);
  width: 11vw;
  height: 7.8vw;
  z-index: 50000;
  opacity: 0;
  cursor: pointer;
}
@media screen and (max-width: 950px) {
  .header--to-top {
    display: none;
  }
}

.header--ul-left {
  padding-left: 20px;
}
@media screen and (max-width: 950px) {
  .header--ul-left {
    padding-left: 0;
  }
}

.nav-wrapper {
  display: none;
}

nav {
  position: relative;
  margin: 2.3% auto 0;
  max-width: 1450px;
}
@media screen and (max-width: 1250px) {
  nav {
    margin-top: 20px;
  }
}
@media screen and (max-width: 950px) {
  nav {
    flex-direction: column;
    align-items: center;
    margin-top: 85px;
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 500px) {
  nav {
    margin-top: 20px;
  }
}
nav .flex {
  align-items: flex-start;
}
@media screen and (max-width: 950px) {
  nav .flex {
    flex-direction: column;
    align-items: center;
  }
}

.sub-nav-services {
  display: none;
  width: 327px;
  position: absolute;
  flex-direction: column;
  top: 60px;
  justify-content: column;
  left: 295px;
  /* width: 0; */
  padding: 0 0 20px 20px;
  align-items: flex-start;
  background: black;
  opacity: 0.98;
}
@media screen and (max-width: 1800px) {
  .sub-nav-services {
    left: calc(180px + 6.2vw);
  }
}
@media screen and (max-width: 1400px) {
  .sub-nav-services {
    left: calc(100px + 13.4vw);
  }
}
@media screen and (max-width: 1020px) {
  .sub-nav-services {
    left: 225px;
  }
}

.open-sub-nav {
  width: 152px;
}
.open-sub-nav .arrow-down {
  width: 8px;
  display: inline-block;
  height: 8px;
  border-left: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
  transform: rotate(-45deg);
  margin: 0 0 3px 5px;
}
.open-sub-nav.active .arrow-down {
  border-left: 3px solid #c43c00;
  border-bottom: 3px solid #c43c00;
}

.img-flag {
  max-width: 100%;
}

.socials {
  margin-top: 5px;
}
.socials .fb {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background: url("../images/fbico_off.png") no-repeat center center;
  background-size: contain;
  cursor: pointer;
  transition: 0.2s;
  color: transparent;
}
.socials .fb:hover {
  background-image: url("../images/fbico_on.png");
}
.socials .insta {
  width: 20px;
  height: 20px;
  background: url("../images/instaico_off.png") no-repeat center center;
  background-size: contain;
  cursor: pointer;
  transition: 0.2s;
  color: transparent;
}
.socials .insta:hover {
  background-image: url("../images/instaico_on.png");
}

@media screen and (max-width: 950px) {
  .header--desktop {
    display: none;
  }
}

.header--mobile {
  display: none;
}
@media screen and (max-width: 950px) {
  .header--mobile {
    display: block;
  }
}
.header--mobile .sub-nav-services {
  position: relative;
  display: flex;
  flex-direction: column;
  top: 0;
  left: initial;
  width: 300px;
  padding-bottom: 30px;
  text-align: center;
}
.header--mobile .sub-nav-services .header--nav-link.active .header--link {
  color: #c43c00;
}
.header--mobile .sub-nav-services .header--link {
  color: #ffffff;
}
.header--mobile .sub-nav-services.hidden {
  display: none;
}

.lang-dropdown {
  margin-left: 40px;
}

.mobile-lang {
  position: absolute;
  top: 17px;
  right: 0px;
}
@media screen and (max-width: 500px) {
  .mobile-lang {
    top: -13vw;
    right: 0px;
  }
}

.mobileMenu {
  cursor: pointer;
  display: none;
}
@media screen and (max-width: 950px) {
  .mobileMenu {
    display: inline-block;
    position: absolute;
    top: 17px;
    left: 10px;
    margin-top: 11px;
  }
}
@media screen and (max-width: 500px) {
  .mobileMenu {
    top: -15vw;
    left: 5px;
  }
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 2px;
  background-color: #ffffff;
  margin: 7px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(3px, 0px);
  transform: rotate(-45deg) translate(3px, 0px);
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -10px);
  transform: rotate(45deg) translate(-6px, -10px);
}

.headingMain {
  position: relative;
  max-height: 120px;
}
.headingMain .center-wrapper {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: #000000;
}
@media screen and (max-width: 500px) {
  .headingMain .center-wrapper {
    width: 80%;
  }
}

.headingMain-noLine .headingMain--line,
.headingMain-noLine .headingMain--glowWrapper {
  display: none;
}
@media screen and (max-width: 330px) {
  .headingMain-noLine {
    padding-bottom: 30px;
  }
}

.h1-scewed-bordered .headingMain--h1-wrapper {
  text-align: center;
  display: inline-block;
  padding: 16px 70px;
  margin-top: 10px;
  border-left: 2px solid #4b5961;
  border-right: 2px solid #4b5961;
  transform: skew(-20deg);
}
.h1-scewed-bordered .headingMain--h1-wrapper h1 {
  transform: skew(20deg);
}

.h1-glow_reverse {
  display: flex;
  flex-direction: column-reverse;
}
.h1-glow_reverse .center-wrapper {
  top: initial;
  bottom: 40px;
}
.h1-glow_reverse .headingMain--glowWrapper {
  transform: rotate(180deg);
}

.headingMain--line {
  width: 100%;
  margin: 0 auto;
  height: 1px;
  border-top: 1px solid #afafaf;
}

.headingMain--glowWrapper {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-top: 150px;
}

.headingMain--glow {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.heading-wrapper {
  position: absolute;
  top: calc(50% - 20px);
  left: 50%;
  transform: translateX(-50%);
  color: #ffffff;
}

#gallery .headingMain {
  min-height: 200px;
}

.bold-italic {
  font-weight: 700;
  font-style: italic;
}

#detailing-interieru .container {
  position: relative;
  top: -20px;
  font-size: 18px;
}
#detailing-interieru .ul-heading {
  padding: 30px 0;
}
#detailing-interieru .ul {
  padding-left: 10px;
}
#detailing-interieru .ul > li {
  text-indent: -9px;
  line-height: 1.6;
}
#detailing-interieru .ul > li:before {
  content: "- ";
  text-indent: -5px;
}
#detailing-interieru .ta-c {
  text-align: center;
  padding: 40px 0 40px;
}

#kontakt {
  background-color: #000000;
}
#kontakt .headingMain h1 {
  color: #ffffff;
}

.contact--info {
  padding-top: 40px;
}

.contact--column {
  width: calc(25% - 15px);
}
@media screen and (max-width: 940px) {
  .contact--column {
    width: calc(50% - 15px);
    margin: 0 auto 40px;
  }
}
@media screen and (max-width: 730px) {
  .contact--column {
    width: 100%;
    text-align: center;
  }
}
.contact--column.contact--contact {
  width: calc(20% - 15px);
}
@media screen and (max-width: 940px) {
  .contact--column.contact--contact {
    width: calc(50% - 15px);
  }
}
@media screen and (max-width: 730px) {
  .contact--column.contact--contact {
    width: 100%;
  }
}
.contact--column p {
  font-style: italic;
  color: #b6b6b6;
  line-height: 1.5;
}
.contact--column a {
  color: #c43c00;
}

.contact--heading {
  margin-bottom: 20px;
  color: #ffffff;
}

.contact--socials {
  padding-top: 60px;
}

.contact--fb {
  width: 60px;
  height: 60px;
  margin: 0 20px;
  background: url("../images/fbico_off.png") no-repeat center center;
  background-size: contain;
  cursor: pointer;
  transition: 0.2s;
  color: transparent;
}
.contact--fb:hover {
  background-image: url("../images/fbico_on.png");
}
@media screen and (max-width: 1000px) {
  .contact--fb {
    width: 50px;
    height: 50px;
  }
}

.contact--insta {
  width: 60px;
  height: 60px;
  margin: 0 20px;
  background: url("../images/instaico_off.png") no-repeat center center;
  background-size: contain;
  cursor: pointer;
  transition: 0.2s;
  color: transparent;
}
.contact--insta:hover {
  background-image: url("../images/instaico_on.png");
}
@media screen and (max-width: 1000px) {
  .contact--insta {
    width: 50px;
    height: 50px;
  }
}

.contact--map-wrapper {
  margin: 60px 0 0;
  height: 0;
  overflow: hidden;
  padding-top: 37.8787878788%;
  position: relative;
  border: 1px solid #2d3133;
  border-radius: 5px;
}

.contact--map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/map_v2.jpg") no-repeat center center;
  background-size: contain;
}

.feynlab-info {
  padding-bottom: 20px;
  border-bottom: 1px solid #afafaf;
  margin-bottom: 40px;
}
.feynlab-info:last-child {
  margin-bottom: 0;
  border-bottom: 0;
}
@media screen and (max-width: 660px) {
  .feynlab-info.flex {
    flex-direction: column;
  }
}

.feynlab-heading {
  text-align: left;
  padding-bottom: 20px;
}

.feynlab-text {
  width: 60%;
}
@media screen and (max-width: 660px) {
  .feynlab-text {
    width: 100%;
  }
}
.feynlab-text p {
  padding-bottom: 15px;
}
@media screen and (max-width: 660px) {
  .feynlab-text p:last-child {
    padding-bottom: 30px;
  }
}

.feynlab-img {
  width: 40%;
  padding-left: 20px;
  max-height: 300px;
  text-align: right;
}
@media screen and (max-width: 660px) {
  .feynlab-img {
    width: 100%;
    text-align: center;
    padding-left: 0;
    max-height: 100%;
  }
}
.feynlab-img img {
  max-width: 100%;
  max-height: 100%;
}

footer {
  background-color: #000000;
  padding: 10px 0 30px;
}

.footer--logoFull {
  position: relative;
  height: 0;
  padding-top: 14.89%;
  overflow: hidden;
}

.footer--logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.footer--copyright {
  font-size: 12px;
  font-weight: 600;
  padding: 0 0 30px;
  color: #b6b6b6;
  text-decoration: none;
}

/* open-sans-regular - latin-ext_latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v17-latin-ext_latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("../fonts/open-sans-v17-latin-ext_latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v17-latin-ext_latin-regular.woff2") format("woff2"), url("../fonts/open-sans-v17-latin-ext_latin-regular.woff") format("woff"), url("../fonts/open-sans-v17-latin-ext_latin-regular.ttf") format("truetype"), url("../fonts/open-sans-v17-latin-ext_latin-regular.svg#OpenSans") format("svg");
  /* Legacy iOS */
}
/* open-sans-italic - latin-ext_latin */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/open-sans-v17-latin-ext_latin-italic.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url("../fonts/open-sans-v17-latin-ext_latin-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v17-latin-ext_latin-italic.woff2") format("woff2"), url("../fonts/open-sans-v17-latin-ext_latin-italic.woff") format("woff"), url("../fonts/open-sans-v17-latin-ext_latin-italic.ttf") format("truetype"), url("../fonts/open-sans-v17-latin-ext_latin-italic.svg#OpenSans") format("svg");
  /* Legacy iOS */
}
/* open-sans-600 - latin-ext_latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/open-sans-v17-latin-ext_latin-600.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url("../fonts/open-sans-v17-latin-ext_latin-600.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v17-latin-ext_latin-600.woff2") format("woff2"), url("../fonts/open-sans-v17-latin-ext_latin-600.woff") format("woff"), url("../fonts/open-sans-v17-latin-ext_latin-600.ttf") format("truetype"), url("../fonts/open-sans-v17-latin-ext_latin-600.svg#OpenSans") format("svg");
  /* Legacy iOS */
}
/* open-sans-600italic - latin-ext_latin */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/open-sans-v17-latin-ext_latin-600italic.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans SemiBold Italic"), local("OpenSans-SemiBoldItalic"), url("../fonts/open-sans-v17-latin-ext_latin-600italic.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v17-latin-ext_latin-600italic.woff2") format("woff2"), url("../fonts/open-sans-v17-latin-ext_latin-600italic.woff") format("woff"), url("../fonts/open-sans-v17-latin-ext_latin-600italic.ttf") format("truetype"), url("../fonts/open-sans-v17-latin-ext_latin-600italic.svg#OpenSans") format("svg");
  /* Legacy iOS */
}
/* open-sans-700 - latin-ext_latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/open-sans-v17-latin-ext_latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("../fonts/open-sans-v17-latin-ext_latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v17-latin-ext_latin-700.woff2") format("woff2"), url("../fonts/open-sans-v17-latin-ext_latin-700.woff") format("woff"), url("../fonts/open-sans-v17-latin-ext_latin-700.ttf") format("truetype"), url("../fonts/open-sans-v17-latin-ext_latin-700.svg#OpenSans") format("svg");
  /* Legacy iOS */
}
/* open-sans-700italic - latin-ext_latin */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/open-sans-v17-latin-ext_latin-700italic.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url("../fonts/open-sans-v17-latin-ext_latin-700italic.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v17-latin-ext_latin-700italic.woff2") format("woff2"), url("../fonts/open-sans-v17-latin-ext_latin-700italic.woff") format("woff"), url("../fonts/open-sans-v17-latin-ext_latin-700italic.ttf") format("truetype"), url("../fonts/open-sans-v17-latin-ext_latin-700italic.svg#OpenSans") format("svg");
  /* Legacy iOS */
}
/* open-sans-800 - latin-ext_latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/open-sans-v17-latin-ext_latin-800.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans ExtraBold"), local("OpenSans-ExtraBold"), url("../fonts/open-sans-v17-latin-ext_latin-800.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v17-latin-ext_latin-800.woff2") format("woff2"), url("../fonts/open-sans-v17-latin-ext_latin-800.woff") format("woff"), url("../fonts/open-sans-v17-latin-ext_latin-800.ttf") format("truetype"), url("../fonts/open-sans-v17-latin-ext_latin-800.svg#OpenSans") format("svg");
  /* Legacy iOS */
}
/* open-sans-800italic - latin-ext_latin */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 800;
  src: url("../fonts/open-sans-v17-latin-ext_latin-800italic.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans ExtraBold Italic"), local("OpenSans-ExtraBoldItalic"), url("../fonts/open-sans-v17-latin-ext_latin-800italic.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v17-latin-ext_latin-800italic.woff2") format("woff2"), url("../fonts/open-sans-v17-latin-ext_latin-800italic.woff") format("woff"), url("../fonts/open-sans-v17-latin-ext_latin-800italic.ttf") format("truetype"), url("../fonts/open-sans-v17-latin-ext_latin-800italic.svg#OpenSans") format("svg");
  /* Legacy iOS */
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000000;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 29px;
  font-style: italic;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (max-width: 640px) {
  h1 {
    font-size: 24px;
  }
}

h2 {
  font-size: 24px;
  font-weight: 800;
  font-style: italic;
  padding-bottom: 30px;
}

h3 {
  font-size: 16px;
  font-weight: 600;
  font-style: italic;
}

.h4-extrabold-italic {
  font-weight: 800;
  font-style: italic;
}

.p-semibold-italic {
  font-weight: 600;
  font-style: italic;
}

.italic {
  font-style: italic;
}

.center-wrapper {
  text-align: center;
}

.bold {
  font-weight: 700;
}

.container {
  width: 80%;
  max-width: 1690px;
  margin: 0 auto;
}
@media screen and (max-width: 1400px) {
  .container {
    width: 90%;
  }
}

.section-pb {
  padding-bottom: 90px;
}
@media screen and (max-width: 550px) {
  .section-pb {
    padding-bottom: 40px;
  }
}

.orange-btn-wrapper {
  display: inline-block;
  background-color: #4b5961;
  cursor: pointer;
  transition: 0.2s;
}
.orange-btn-wrapper:hover {
  background-color: #c43c00;
}
.orange-btn-wrapper .orange-btn {
  display: inline-block;
  padding: 10px 26px;
  font-size: 12px;
  font-weight: 800;
  font-style: italic;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
}

.orange {
  font-size: 18px;
  color: #c43c00;
  font-style: italic;
}

.orange-hover {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}
.orange-hover:hover {
  color: #c43c00;
}

.overflow-hidden {
  overflow: hidden;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-between {
  justify-content: space-between;
}

.flex-around {
  justify-content: space-around;
}

.flex-center {
  justify-content: center;
}

.flex-align-center {
  align-items: center;
}

.flex-align-end {
  align-items: flex-end;
}

.flex-end {
  justify-content: flex-end;
}

.wrap {
  flex-wrap: wrap;
}

.ta-center {
  text-align: center;
}

.home {
  position: relative;
  height: 500px;
}
.home .home_bg {
  position: absolute;
  top: 0;
  left: 0;
  background: #000000 url("../images/home-bg.png") no-repeat center center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.grey-bg {
  background-color: #dedede;
}

#uvod {
  font-weight: 600;
  font-style: italic;
  font-size: 19px;
}
#uvod .container {
  width: 65%;
}
@media screen and (max-width: 1200px) {
  #uvod .container {
    width: 75%;
  }
}
#uvod .about-us {
  border-bottom: 1px solid #afafaf;
}
#uvod .about-us p {
  padding-bottom: 50px;
}
#uvod .about-feynlab {
  padding: 40px 0;
}
#uvod .about-feynlab .container {
  display: flex;
}
@media screen and (max-width: 950px) {
  #uvod .about-feynlab .container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
#uvod .about-feynlab .logo-feynlab {
  object-fit: contain;
  max-width: 380px;
  padding: 0 60px;
}
@media screen and (max-width: 950px) {
  #uvod .about-feynlab .logo-feynlab {
    padding: 0 60px 40px;
  }
}

#galeria {
  padding-bottom: 30px;
}

.info-main-wrapper {
  padding-bottom: 100px;
}

.info-main {
  margin: 0 auto;
  padding: 20px 40px 22px;
  background-color: #000000;
  border: 1px solid #c43c00;
  border-radius: 5px;
}
@media screen and (max-width: 500px) {
  .info-main {
    width: 100%;
  }
}
.info-main .info {
  font-size: 18px;
  color: #ffffff;
  letter-spacing: 1.2px;
  text-align: center;
}
.info-main.price-list-item-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: -1px 0;
  padding: 10px 22px 12px;
  width: 100%;
  max-width: 100%;
  background-color: transparent;
  border: 1px solid #b6b6b6;
  border-radius: 5px;
  transition: 0.4s;
}
.info-main.price-list-item-wrapper:hover {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  transition: 0s;
}
@media screen and (max-width: 500px) {
  .info-main.price-list-item-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.info-main.price-list-item-wrapper .h4-extrabold-italic {
  color: #000000;
  text-align: left;
  padding-right: 14px;
}
@media screen and (max-width: 500px) {
  .info-main.price-list-item-wrapper .h4-extrabold-italic {
    padding-right: 0;
    text-align: center;
  }
}
.info-main.price-list-item-wrapper .p-semibold-italic {
  padding: 0 14px 0 7px;
}
@media screen and (max-width: 500px) {
  .info-main.price-list-item-wrapper .p-semibold-italic {
    text-align: center;
    padding: 0 7px 10px;
  }
}
.info-main.price-list-item-wrapper .item-price {
  text-align: center;
}

#cennik {
  background-color: #e5e5e5;
}
#cennik .th-wrapper {
  display: flex;
  margin-bottom: 14px;
}
@media screen and (max-width: 500px) {
  #cennik .th-wrapper {
    flex-direction: column;
    border: 1px solid #c43c00;
    border-radius: 5px;
  }
}
#cennik .th-wrapper .info-main {
  width: 100%;
  max-width: 100%;
  text-transform: uppercase;
  padding: 20px 20px 22px;
}
@media screen and (max-width: 500px) {
  #cennik .th-wrapper .info-main {
    border: 0;
    padding-bottom: 14px;
    border-radius: 0;
  }
}
#cennik .th-wrapper .info-main .info {
  text-align: left;
  padding-left: 20px;
}
@media screen and (max-width: 500px) {
  #cennik .th-wrapper .info-main .info {
    text-align: center;
  }
}
#cennik .th-wrapper .info-main:last-child {
  width: 130px;
  margin-left: 20px;
}
@media screen and (max-width: 500px) {
  #cennik .th-wrapper .info-main:last-child {
    width: 100%;
    margin-left: 0;
    padding-top: 0;
  }
}
#cennik .th-wrapper .info-main:last-child .info {
  text-align: center;
  padding-left: 0;
}
@media screen and (max-width: 500px) {
  #cennik .th-wrapper .info-main:last-child .info {
    font-size: 16px;
  }
}
#cennik .info-main-wrapper:last-child .info-main {
  margin-top: 50px;
}
#cennik .info-main-wrapper .info-main {
  width: 100%;
  max-width: 100%;
}

.skew-wrapper {
  position: relative;
  z-index: 10;
  margin: 0 auto;
}
#sluzby {
  padding-bottom: 50px;
}
#sluzby .skew-wrapper .service-wrapper {
  flex-direction: row-reverse;
}
@media screen and (max-width: 500px) {
  #sluzby .skew-wrapper .service-wrapper {
    flex-direction: column;
  }
}
#sluzby .service-img {
  height: 200px;
}
@media screen and (max-width: 480px) {
  #sluzby .service-img {
    height: 240px;
  }
}

#korekcia-laku {
  position: relative;
  padding-bottom: 50px;
}
#korekcia-laku .p-semibold-italic {
  padding: 0 35px;
}
@media screen and (max-width: 630px) {
  #korekcia-laku .p-semibold-italic {
    padding: 0 5px;
  }
}
#korekcia-laku .service-wrapper {
  max-height: 330px;
}
@media screen and (max-width: 1150px) {
  #korekcia-laku .service-wrapper {
    max-height: 400px;
  }
}
@media screen and (max-width: 950px) {
  #korekcia-laku .service-wrapper {
    max-height: 1000px;
  }
}
@media screen and (max-width: 480px) {
  #korekcia-laku .service-wrapper {
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 480px) {
  #korekcia-laku .service-text,
#korekcia-laku .img-wrapper {
    width: 100%;
  }
}
#korekcia-laku .bg1-correction {
  position: absolute;
  top: 23%;
  background: url(/assets/images/bg_correction1.svg) no-repeat left center;
  width: 100%;
  height: 200px;
}
@media screen and (min-width: 1700px) {
  #korekcia-laku .bg1-correction {
    height: 300px;
  }
}
@media screen and (min-width: 2000px) {
  #korekcia-laku .bg1-correction {
    height: 400px;
  }
}
#korekcia-laku .bg2-correction {
  position: absolute;
  top: 45%;
  background: url(/assets/images/bg_correction2.svg) no-repeat left center;
  width: 100%;
  height: 200px;
}
@media screen and (min-width: 1700px) {
  #korekcia-laku .bg2-correction {
    height: 300px;
  }
}
@media screen and (min-width: 2000px) {
  #korekcia-laku .bg2-correction {
    height: 400px;
  }
}
#korekcia-laku .bg3-correction {
  position: absolute;
  top: 70%;
  background: url(/assets/images/bg_correction3.svg) no-repeat left center;
  width: 100%;
  height: 200px;
}
@media screen and (min-width: 1700px) {
  #korekcia-laku .bg3-correction {
    height: 300px;
  }
}
@media screen and (min-width: 2000px) {
  #korekcia-laku .bg3-correction {
    height: 400px;
  }
}

.service-wrapper {
  display: flex;
  flex-direction: row;
  margin: 0 auto 20px;
  filter: drop-shadow(0 0px 20px rgba(0, 0, 0, 0.4));
}
@media screen and (max-width: 500px) {
  .service-wrapper {
    flex-direction: column-reverse;
  }
}
.service-wrapper .img-wrapper {
  width: 55%;
  overflow: hidden;
  border-radius: 0 5px 5px 0;
}
@media screen and (max-width: 500px) {
  .service-wrapper .img-wrapper {
    width: 100%;
    border-radius: 5px 5px 0 0;
  }
}
.service-wrapper .service-img {
  position: relative;
  left: -50px;
  display: flex;
  width: 130%;
  height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 480px) {
  .service-wrapper .service-img {
    left: 0;
  }
}
.service-wrapper .service-text {
  display: flex;
  align-items: center;
  width: 45%;
  padding: 0 15px;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  border: 1px solid #c43c00;
  border-radius: 5px 0 0 5px;
}
@media screen and (max-width: 500px) {
  .service-wrapper .service-text {
    width: 100%;
    border-radius: 0 0 5px 5px;
  }
}
.service-wrapper .service-text .text-wrapper {
  margin: auto;
  padding: 20px 0;
}
.service-wrapper .service-text .h4-extrabold-italic {
  font-size: 20px;
  letter-spacing: 1.3px;
  padding-bottom: 32px;
}
@media screen and (max-width: 630px) {
  .service-wrapper .service-text .h4-extrabold-italic {
    font-size: 18px;
  }
}
#self-heal {
  padding: 50px 0;
}
#self-heal .container {
  max-width: 1350px;
}

.slick-arrow {
  background: transparent;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 17px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .slick-arrow {
    padding: 9px;
  }
}

.slick-next {
  transform: rotate(-45deg) skew(-17deg, -17deg);
  -webkit-transform: rotate(-45deg) skew(-17deg, -17deg);
}
@media screen and (max-width: 768px) {
  .slick-next {
    right: -16px;
  }
}
@media screen and (max-width: 440px) {
  .slick-next {
    right: -12px;
  }
}

.slick-prev {
  transform: rotate(135deg) skew(-17deg, -17deg);
  -webkit-transform: rotate(135deg) skew(-17deg, -17deg);
}
@media screen and (max-width: 768px) {
  .slick-prev {
    left: -16px;
  }
}
@media screen and (max-width: 450px) {
  .slick-prev {
    left: -10px;
  }
}

/*# sourceMappingURL=style.css.map */
